#div-index {
  height: 100%;

  .scrollable-div {
    width: 95%;        /* Set the desired width */
    height: 90%;        /* Set the desired height */
    margin: auto;
    overflow-y: auto;     /* Enables vertical scrolling when content exceeds height */

    table {
      width: 95%;
      border-collapse: collapse; /* Ensures no space between table cells */
    }
  }
}

.dataTables_filter {
  margin-top: 10px;
  margin-bottom: 10px !important;
}

.description {
  font-size: 12px;
  color: gray;
  font-style: italic;
  margin-top: 20px;

  table {
    border-collapse: collapse;
    width: 30%;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 9px;

    @media (max-width: 760px) {
      width: 90%;
    }
  }
}


/* Tiles */
#text-tiles-index {
  font-size: 17.5px;
  margin-bottom: 20px;
}

.tiles-index {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;

  @media(max-width: 760px) {
    gap: 3.5em;
  }
}

.tile-index {
  flex-basis: calc(16.66% - 1.5em); /* 5 elements per row */
  box-sizing: border-box; /* Ensures padding and gaps are included in the width calculation */
  margin-bottom: 2em;

  @media(max-width: 760px) {
    flex-basis: 55%;
  }
}

.tiles-index article {
  -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: relative;
  width: calc(15%);
  // margin: 2.5em 0 0 2.5em;

  @media(max-width: 760px) {
    width: 100%;
  }
}

.tiles-index article > .image {
  -moz-transition: -moz-transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 30px;

}

.tiles-index article > .image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 30px;

}

.tiles-index article > .image:before {
  pointer-events: none;
  -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
  -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
  -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
  transition: background-color 0.5s ease, opacity 0.5s ease;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1.0;
  z-index: 1;
  opacity: 0.4;
  border-radius: 30px;
}

.tiles-index article > .image:after {
  pointer-events: none;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0;
  z-index: 2;
  border-radius: 30px;
}

.tiles-index article > a {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
  -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
  transition: background-color 0.5s ease, transform 0.5s ease;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  border-radius: 4px;
  border-bottom: 0;
  color: #ffffff;
  font-size: calc(0.05em + 1vw);
  text-align: center;
  text-decoration: none;
  z-index: 3;
}

.tiles-index article > a:hover {
  color: #ffffff !important;
  text-shadow:
    -1px -1px 0 #010024,
    1px -1px 0 #020085,
    -1px 1px 0 #020085,
    1px 1px 0 #020085 ;
}

.tiles-index article > a .content {
  -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
  -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
  -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  width: 100%;
  // max-height: 0;
  margin-top: 0;
  opacity: 0;
  text-shadow:
    -1px -1px 0 #010024,
    1px -1px 0 #020085,
    -1px 1px 0 #020085,
    1px 1px 0 #020085 ;
}


// .tiles-index article.style1 > .image:before {
//   background-color: #489c5d;  /* This line changes the background-color of the tiles */
//   display: flex;
//   justify-content: center;
//   align-items: center;

// }

.tiles-index article.style1.confirmed > .image:before {
  background-color: #40ff0090; /* Green for confirmed */
  border: 5px solid #00a030;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiles-index article.style1.not-confirmed > .image:before {
  background-color: #ff000090; /* Red for not confirmed */
  border: 5px solid #850000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiles-index article:hover > .image {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

  body:not(.is-touch) .tiles-index article:hover > .image {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  }

  body:not(.is-touch) .tiles-index article:hover > .image:before {
  background-color: #333333;
  opacity: 0.20;
  }

  body:not(.is-touch) .tiles-index article:hover > .image:after {
  opacity: 0;
  }

  body:not(.is-touch) .tiles-index article:hover .content {
  max-height: 15em;
  opacity: 1;
  }

  * + .tiles {
  margin-top: 1em;
  }

  body.is-preload .tiles-index article {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
  }

@media screen and (max-width: 1280px) {

  .tiles-index {
    margin: -1.25em 0 0 -1.25em;
  }

    .tiles-index article {
      width: calc(33.33333% - 1.25em);
      margin: 1.25em 0 0 1.25em;
    }

}

@media screen and (max-width: 980px) {

  .tiles-index {
    margin: -2.5em 0 0 -2.5em;
  }

    .tiles-index article {
      width: calc(50% - 2.5em);
      margin: 2.5em 0 0 2.5em;
    }

}

@media screen and (max-width: 736px) {

  .tiles-index {
    margin: -1.25em 0 0 -1.25em;
  }

    .tiles-index article {
      width: calc(50% - 1.25em);
      margin: 1.25em 0 0 1.25em;
    }

      .tiles-index article:hover > .image {
        -moz-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
      }

}

@media screen and (max-width: 480px) {

  .tiles-index {
    margin: 0;
  }

    .tiles-index article {
      width: 100%;
      margin: 1.25em 0 0 0;
    }

}
