// Specific CSS for your home-page
.home-main-container {

  .home-container-center {
    width: 80%;
    height: calc(100dvh - 150px); /* or 100% if the parent has a defined height */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    @media (max-width: 760px) {
      flex-direction: column;
      align-items: center;
      position: static;
      transform: none;
    }
  }
}
