<%= render "form", audition_application: @application %>
<% if @application.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>
    <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
