<div class="help-container my-3">
  <% case @user_type %>
    <% when :admin, :director, :guest %>
      <%= render "pages/help/admin"  %>
    <% when :candidate %>
      <%= render "pages/help/candidate" %>
    <% else %>
      <p class="text-center text-muted">No guide available for your role.</p>
  <% end %>
</div>
