<% if user_signed_in? %>
  <div class="container mt-5">
    <h1 class="text-center text-h1 title_R">Audition Applications</h1>
    <div class="body_p text-p text-center">
      <p>Please make sure to fill app the form following the link below, you will be notified by mail as soon as we can. <br>Best of luck and thanks for your application</p>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 20px; width: 100%">
      <%= image_tag "https://www.dancereflections-vancleefarpels.com/sites/default/files/styles/original_webp/public/2023-05/logo-opera-de-lyon.png?itok=FrOFCxxA",style:"width:25%" %>
    </div>
    <div class="text-center mt-5">
      <% if current_user.audition_applications.present? %>
        <%= link_to audition_application_path(current_user.audition_applications.first), class:"button" do%>
          <span>Check my application</span>
        <% end %>
      <% else %>
        <%= link_to new_audition_application_path, class:"button" do%>
          <span>Apply for the audition</span>
        <% end %>
      <% end %>
    </div>
  </div>
<%else%>
  <div class="container text-center mt-3 rounded-top">
    <img class="" src="https://www.dansesaveclaplume.com/wordpress/wp-content/gallery/soiree-jiri-kylian-ballet-de-lopera-de-lyon/b-bella-figura_1.jpg" alt="Ballet de l'Opera de Lyon Studio">
    <h1 class="text-h2 title_R">Ballet de l'Opéra de Lyon Audition</h1>
    <div class="body_p text-h4 d-flex justify-content-center flex-column align-items-center">
      <p>Saison 2024 - 2025</p>
      <p>
        <%= link_to new_user_registration_path, class: "button" do %>
          <span>Sign up</span>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
