<h2 class="mb-4">Artist User Guide</h2>

<h4>Create Your Account</h4>
<p>
  To begin, you must create an account using a valid email address where you can easily be contacted.
  Choose a secure password that you will remember. Your account will allow you to save and manage your audition application.
</p>

<!-- Here you can insert an image showing the signup form -->

<h4>Fill Out the Application Form</h4>
<p>
  After creating your account, complete the audition application form.
  Please provide all required personal information, including:
</p>

<ul>
  <li>Your CV (Curriculum Vitae) or Resume (file upload)</li>
  <li>A YouTube link showing your performance. Make sure to follow this format: https://www.youtube.com/</li>
  <li>A profile image (professional headshot preferred)</li>
</ul>

<!-- Here you can insert an image showing the form fields -->

<h4>Edit Your Application if Needed</h4>
<p>
  If you realize you made a mistake after submitting your application, you can log back into your account
  and edit your form. Make sure all your information is correct before the application deadline.
</p>

<!-- Here you can insert an image showing the 'Edit Application' button -->

<h4>Receive a Confirmation Email</h4>
<p>
  Once your application has been successfully submitted, you will receive a confirmation email.
  Please also check your <strong>spam or junk folder</strong> in case the email does not appear in your inbox.
  The confirmation email is your proof that we have received your application.
</p>

<!-- Here you can insert an image of the confirmation email -->

<h4>Wait for the Application Result</h4>
<p>
  After submitting, the administration team will review all applications.
  You will receive an email informing you whether you have been accepted to audition.
  Please be patient during this review process.
</p>

<h4>If You Are Accepted</h4>
<p>
  If your application is successful, you will receive an invitation to confirm your attendance at the audition.
  Please follow the instructions provided carefully to confirm your participation.
</p>

<!-- Insert an image example of acceptance email or confirmation button -->

<h4>If You Are Not Accepted</h4>
<p>
  If your application is unfortunately not selected, you will also be notified by email.
  We encourage you to continue working on your craft and to reapply for future opportunities.
</p>
