
.filter-show {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;



}

.main-filters {
  display: flex;
  justify-content: space-evenly;
  margin: 48px 0;

  @media (max-width: 760px) {
    margin: 16px 0;
  }


}

.hidden {
  display: none;
}
