.navbar-lewagon {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0 40px;
  background: rgb(0, 0, 0);
  position: relative;

  .dropdown-menu {
    background: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;

    a {
      color: white;
      text-decoration: none;
      padding: 10px;
      transition: background 0.3s;

      &:hover {
        background: transparent ;
      }
    }
  }

  @media (max-width:760px) {
    padding:0;
  }
}

.navbar-lewagon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40px; /* Same as padding */
  width: calc(100% - 80px); /* Reduces border width */
  height: 1px;
  background: rgba(255, 255, 255, 0.2);

  @media (max-width:760px) {
    width:100%;
    left:0;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

  .nav-item {
    display: flex;
    align-items: center;

    svg {
      color: white;
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }
}

.navbar-lewagon .navbar-brand svg {
  color: white !important;
  margin: 0;
  width: 80px;
}
