.rounded-top {
  width: 100%;

  img {
    width: 100%;
    border-radius: 50% 50% 0 0/39% 39% 0 0;

    @media (max-width:760px){
      width: 100%;
    }
  }
  .title-holder {
    text-align: right;
  }
}

.rounded-top-logedIn {
  img {
    width:25%;
    border-radius: 50% 50% 0 0/39% 39% 0 0;

    @media (max-width:760px){
      width: 50%;
    }
  }
}
