.status-buttons {

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
  }
  .status-button-reject {
    width: 100%;
    background-color: red;
    border: 1px solid #ccc;
    padding: 5px 10px;
    color: white;

    &:hover {
      background-color: darkred;
    }
  }
  .status-button-accept {
    width: 100%;
    background-color: green;
    border: 1px solid #ccc;
    padding: 5px 10px;
    color: white;


    &:hover {
      background-color: darkgreen;
    }
  }
}
