.submit-button {
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.submit-button::before {
  content: "";
  position: absolute;
  bottom: 100%; /* Start below the button */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transform: scaleY(0); /* Initially hidden */
  transform-origin: bottom;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.submit-button:hover {
  color: rgb(255, 255, 255); /* Text color changes on hover */
  border-color: white; /* Border color change */
  background-color: rgb(0, 0, 0); /* Background color change */
}

.submit-button:hover::before {
  transform: scaleY(1); /* Roll up the background */
  transform-origin: top; /* Start the rolling effect from top */
}

.submit-button span {
  position: relative;
  z-index: 1; /* Keep the text above the background */
}
