<p>Hello <%= @application.user.email %>,</p>

<p>Your audition application status has been updated to: <strong><%= @application.status.capitalize %></strong>.</p>

<p>Best regards,<br>Audition Team</p>
